@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}

:root {
  --base-fontsize: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: var(--base-fontsize);
  background-color: black;
}
